*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.hola{
    width: 37.5rem;
    height: auto;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
}
.uno{
   width: 17rem;
   height: 24rem;
   background-color: #E08411;
   border-radius: 1rem;
}

.dos{
   width: 17rem;
   height: 8rem;
   background-color: #E08411;
   border-radius: 1rem;
   align-self: flex-end;
   margin-top: 3rem;
}
.tres{
   width: 17rem;
   height: 17rem;
   background-color: #E08411;
   border-radius: 1rem;
   align-self: center;
   margin-top: 3rem;
}
.cuatro{
    width: 17rem;
   height: 3rem;
   background-color: #E08411;
   border-radius: 1.5rem;
   align-self: flex-end;
   margin-top: 3rem;
}
